.blue {
  background-color: #1900d5;
}
.yellow {
  background-color: #c1ef00;
}
.red {
  background-color: #e8502f;
}
.black {
  background-color: #000000;
}
.gray {
  background-color: #3c3c3c;
}
.lightGray {
  background-color: #7c7c7c;
}
.green {
  background-color: #a9ffa7;
}
.bg_main {
  background-color: #0f0e0e;
}

.bg_main_1 {
  background-color: #828282;
}
