.search_bar {
  @extend .form-control;

  margin: 0;

  background-color: #fff;
  border: 1px solid #ddd;

  border-radius: 5px;

  padding-left: 30px;
}

.search_bar::before {
  content: url("path/to/your/batman.svg");

  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;

  color: #333;
}

.search_bar::-webkit-input-placeholder {
  left: 38px;
}

.search_bar:-moz-placeholder {
  left: 38px;
}

.search_bar::-ms-input-placeholder {
  left: 38px;
}
