.productReview {
  border: 1px solid #ebebeb;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  padding: 20px 20px;
}
@media screen and (min-width: 771px) {
  .productReview {
    width: 48%;
  }
}
.productReview p {
  /* font-size: 1.2rem; */
  color: #a08d8d;
}
