.hero {
  background: url("../../public/banner.webp") no-repeat center center/cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: calc(10px + 2vmin + 2vmax);
  font-weight: 700;
  font-family: "Saira Stencil One", cursive;
  text-shadow: 2px 2px 4px rgba(223, 223, 223, 0.871);
}
.about {
  padding: 2rem;
  padding-top: 1rem;
  font-size: 1.5rem;
  font-family: "Saira Stencil One", cursive;
  text-align: center;
}

.cards img {
  width: 100%;
  height: 100%;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  object-fit: cover;
  -webkit-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  -moz-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  -ms-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  -o-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
.cards p {
  font-size: 1.2rem;
  font-family: "Saira Stencil One", cursive;
  text-align: center;
}
.title {
  font-size: 2rem;
  font-family: "Saira Stencil One", cursive;
  text-align: center;
}

@media screen and (max-width: 768px) {
  /* resize the fonts */

  .about {
    font-size: 14px;
    padding: 10px;
  }

  .cards p {
    font-size: 1rem;
  }
  .imgrap {
    width: 50%;
    margin: auto;
  }
}
