.storeHero {
  background: url("../../assets/storebanel.webp") no-repeat center center/cover;
  border-radius: 20px;
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  -ms-border-radius: 20;
  -o-border-radius: 20;
}
.content {
  background-color: rgba(255, 255, 255, 0.7);
}
